.first-view {
    margin: auto;
    max-width: 1200px;
    width: 85%;
    left: 0;
    right: 0;
    font-size: 1.1em;
    text-align: justify;
    line-height: 27px;
}

.first-view h2 {
    font-size: 1.9em;
}

.first-view li {
    padding-bottom: 8px;
}

.quick-facts {
    float: right;
    width: 300px;
    padding-left: 5%;
    padding-bottom: 25px;
    margin-top: -28px;
}

.quick-facts ul {
    border: solid #464648 5px;
    line-height: 30px;
    padding: 18px 18px 9px;
}

.quick-facts li {
    color: darkgray;
}

.mark__white {
    color: white;
}

.avicii__stage {
    width: 70%;
    padding-top: 30px;
    margin: auto;
    display: flex;
}

.avicii__hi {
    float: right;
    width: 400px;
    padding: 80px 0 10px 20px;
}

@media only screen and (max-width: 790px) {
    .first-view {
        font-size: 1em;
    }
}

@media only screen and (max-width: 670px) {
    .quick-facts {
        float: none;
        padding-left: 0;
        width: 85vw;
    }

    .quick-facts li {
        margin: auto;
    }

    .first-view h2 {
        font-size: 1.7em;
    }

    .avicii__hi {
        width: 50%;
    }
}
