.first-view, .second-view {
    margin: auto;
    max-width: 1200px;
    width: 85%;
    left: 0;
    right: 0;
}

.avicii__quote {
    font-size: 6vh;
    margin-left: 0;
    margin-right: 0;
    margin-top: revert;
}

.avicii__quote blockquote, .avicii__quote blockquote p {
    padding: 0;
    margin: 0;
}

.avicii__quote figcaption {
    font-size: 5vh;
    margin-top: 25px;
}

.rip__sign {
    text-align: center;
    font-size: 3vh;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 4px;
}

.first-view {
    background: url(../assets/images/avicii-stature2.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
    position: absolute;
    bottom: 125px;
    z-index: -1;
    max-height: 65%;
}

.artists__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: justify;
}

.artists__header {
    font-size: 37px;
    text-align: center;
    padding-bottom: 40px;
}

.artists__underline {
    padding-top: 105vh;
    padding-bottom: 25px;
}

.artists__underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 135px;
    background: #707070 url(../assets/waves/wave9.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

.artist__wrapper {
    max-width: 90%;
    display: flex;
    margin: auto;
}

.artist__wrapper blockquote {
    margin: 0;
}

.artist__wrapper figure {
    max-width: 85%;
}

.artist__wrapper:nth-child(odd) figcaption {
    text-align: right;
}

.artist__wrapper:nth-child(even) {
    flex-direction: row-reverse;
}
