body {
    counter-reset: track-number;
}

.first-view {
    margin: auto;
    max-width: 900px;
    width: 80%;
    left: 0;
    right: 0;
    font-size: 1.1em;
}

.track {
    display: grid;
    grid-template-columns: 80px 130px 1fr 50px 50px 225px;
    align-content: center;
    align-items: center;
    height: 110px;
    background: #ffffff00 url(../assets/shapes/track-background.png) no-repeat;
    background-size: 100% 100%;
    padding-left: 100px;
}

.track:not(:last-child) {
    margin-bottom: 20px;
}

.track__number {
    font-size: 2.2em;
}

.track__number::before {
    counter-increment: track-number;
    content: counter(track-number);
}

.track__poster {
    width: 110px;
}

.track__name {
    font-size: 1.5em;
}

.track__play-link:first-child {
    padding-right: 6px;
}

.track__play {
    width: 40px;
}

.track__up-button {
    padding: 20px;
    width: 180px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    background: #ffffff00 url(../assets/shapes/track-button.png) no-repeat;
    background-size: 100% 100%;
    border: none;
}

.track__up-button:hover {
    background: #ffffff00 url(../assets/shapes/track-button-grey.png) no-repeat;
    background-size: 100% 100%;
}

.track__buttons {
    display: contents;
}

.track__load-more {
    padding: 20px;
    width: 210px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    background: #ffffff00 url(../assets/shapes/track-button-grey.png) no-repeat;
    background-size: 100% 100%;
    border: none;
    margin: 35px auto;
    display: block;
}

.track__load-more:hover {
    filter: invert(0.2);
}

@media only screen and (max-width: 1140px) {
    .first-view {
        width: 95vw;
    }
}

@media only screen and (max-width: 800px) {
    .track__name {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 860px) {
    .track {
        background-color: #464648;
        border-radius: 3px;
        padding: 0;
        display: grid;
        grid-template-columns: 80px 125px 1fr 50px 50px 190px;
    }

    .track__number {
        padding-left: 13px;
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 680px) {
    .track__up-button {
        background-color: #000000;
        border-radius: 3px;
        width: 110px;
        padding: 10px;
        margin: 0;
    }

    .track {
        grid-template-columns: 70px 1fr 50px 50px 125px;
    }

    .track__poster {
        display: none;
    }

    .track__name {
        padding: 0;
    }
}

@media only screen and (max-width: 430px) {
    .track__play-link {
        display: none;
    }

    .track {
        grid-template-columns: 70px 1fr 125px;
    }
}
