body {
    counter-reset: track-number;
}

.first-view {
    padding-top: 140px;
    margin: auto;
    max-width: 900px;
    width: 65%;
    left: 0;
    right: 0;
    font-size: 1.1em;
}

h1 {
    text-align: center;
    font-size: 2.6em;
    padding-bottom: 35px;
}

.track {
    display: flex;
    align-items: center;
    height: 110px;
    padding: 0 95px;

    background: #ffffff00 url(../assets/shapes/track-background.png) no-repeat;
    background-size: 100% 100%;
}

.track:not(:last-child) {
    margin-bottom: 20px;
}

.track__number {
    font-size: 2.2em;
    width: 145px;
}

.track__number::before {
    counter-increment: track-number;
    content: counter(track-number);
}

.track__poster {
    width: 110px;
}

.track__name {
    font-size: 1.5em;
    padding-left: 20px;
    max-width: 50%;
    width: 50vw;
}

.track__play-link:first-child {
    padding-right: 6px;
}

.track__play {
    width: 40px;
}

.track__up-button {
    padding: 20px 42px;
    margin-left: 10px;
    margin-right: -40px;
    width: 22vw;
    color: white;
    font-size: 1em;
    cursor: pointer;
    background: #ffffff00 url(../assets/shapes/track-button.png) no-repeat;
    background-size: 100% 100%;
    border: none;
}

.track__up-button:hover {
    background: #ffffff00 url(../assets/shapes/track-button-grey.png) no-repeat;
    background-size: 100% 100%;
}

.track__buttons {
    float: right;
    display: contents;
}

.track__load-more  {
    padding: 20px 42px;
    width: 22vw;
    color: white;
    font-size: 1em;
    cursor: pointer;
    background: #ffffff00 url(../assets/shapes/track-button-grey.png) no-repeat;
    background-size: 100% 100%;
    border: none;
    margin: 35px auto;
    display: block;
}

.track__load-more:hover {
    filter: invert(0.2);
}
